* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    margin: auto;
    padding: 10px;
    background-image: url("Bird_Photos/birds_wire.jpg");
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


header {
    padding: 5px;
}

.count-container {
  position: absolute;
}

.question {
  top: 3%;
  left: 3%;
  color: #434343;
}

.score.show {
  top: 3%;
  right: 3%;
  color: #434343;
  font-size: 16px;
}

.score {
  font-size: 0;
}

h1 {
  font-size: 36px;
  font-style: bold;
}

h2 {
  font-size: 20px;
  font-style: bold;
}

button {
    padding: 5px;
    margin: 20px;

  }
  
  button:hover {
    cursor: pointer;
  }

.main-container {
    width: 80%;
    height: 80%;
    margin: 7%;
    border: 3px outset gray;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #434343;
    color: white;
    text-shadow: 1px 1px black;
  }

  .bookend {
    text-align: center;
  }

.img-container {
    height: 400px;
    max-width: 80%;
    margin-top: 10px;
    object-fit: contain;
}

img {
   max-height: 100%;
   max-width: 100%;
   object-fit: contain;
 }

 .quiz-content {
   padding: 30px;
 }

.quiz-form input[type="radio"]:hover + label {
   color: lightblue;
 }

 .function-button:hover {
   border: 2px solid blue;
 }

 .correct.selected {
   color: light greenyellow;
 }

 .wrong.selected {
   color: red;
 }


 .selected {
   font-weight: 700;
 }

p {
  font-size: 20px;
}

.wrong-answer {
  color: red;
}

.correct-answer {
  color: greenyellow;
}

.correct {
  color: greenyellow;
}
