* {
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
    padding: 5px;
}

.count-container {
  position: absolute;
}

.question {
  top: 10px;
  left: 10px;
}

.score {
  top: 5px;
  right: 10px;
}

h2 {
  font-size: 36px;
  font-style: bold;
}

h3 {
  font-size: 20px;
  font-style: bold;
}

button {
    padding: 5px;
    margin: 20px;

  }
  
  button:hover {
    cursor: pointer;
  }

.main-container {
    width: 80%;
    height: 80%;
    margin: 7%;
    border: 1px solid gray;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.img-container {
    height: 400px;
    max-width: 50%;
    margin-top: 10px;
    object-fit: contain;
}

img {
   max-height: 100%;
   max-width: auto;
 }

 .quiz-content {
   padding: 30px;
 }


 .correct.selected {
   color: green;
 }

 .incorrect.selected {
   color: red;
 }


 .selected {
   font-weight: 900;
 }

 .incorrect {
   text-decoration: line-through;
 }

p {
  font-size: 20px;
}

.incorrect-answer {
  color: red;
}

.correct-answer {
  color: green;
}
