* {
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opening-screen {
  margin-top: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: red;
  border: 1px solid gray;
}

.opening-screen * {
  margin: auto;
  text-align: center;
}
header {
    padding: 5px;
}

button {
    padding: 5px;
    position: relative;
    left: 90%;

  }
  
  button:hover {
    cursor: pointer;
  }

.main-container {
    width: 80%;
    height: 80%;
    margin: auto;
    border: 1px solid gray;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.img-container {
    height: 400px;
    max-width: 50%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

img {
   max-height: 100%;
   max-width: auto;

 }
